:root {
	/* Primary */
	--lime-green: hsl(163, 72%, 41%);

	/* Dark Theme */
	--card-bg: hsl(228, 28%, 20%);
	--text-white-color: hsl(0, 0%, 100%);
	--text-gray-color: hsl(228, 34%, 66%);

	/* Light Theme */
	--white-card-bg: hsl(227, 47%, 96%);
	--white-card-hover: hsl(227, 10%, 82%);
	--whiteTheme-text-color: hsl(228, 12%, 44%);
	--whiteTheme-blue-text-color: hsl(230, 17%, 14%);
}

.card {
	width: 250px;
	height: 200px;
	display: flex;
	transition: 0.7s;
	border-radius: 5px;
	position: relative;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: var(--card-bg);
}

.card .border {
	top: 0;
	content: '';
	width: 100%;
	height: 5px;
	position: absolute;
	border-radius: 5px 5px 0 0;
}

.card[data-theme='light'] {
	background-color: var(--white-card-bg);
}

.card:hover {
	cursor: pointer;
	background-color: hsl(229, 25%, 26%);
}

.card[data-theme='light']:hover {
	background-color: var(--white-card-hover);
}

.card .userName {
	gap: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card .userName span {
	transition: 0.7s;
	font-weight: 700;
	font-size: 0.8rem;
	color: var(--text-gray-color);
}

.card[data-theme='light'] .userName span {
	color: var(--whiteTheme-text-color);
}

.card .followersDiv {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	color: var(--text-white-color);
}

.card .followersDiv h1 {
	transition: 0.7s;
	font-size: 2.7rem;
}

.card[data-theme='light'] .followersDiv h1 {
	color: var(--whiteTheme-blue-text-color);
}

.card .followersDiv p {
	transition: 0.7s;
	font-size: 0.8rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: var(--text-gray-color);
}

.card[data-theme='light'] .followersDiv p {
	color: var(--whiteTheme-text-color);
}

.card .todayStatus {
	gap: 5px;
	display: flex;
	font-weight: 700;
	font-size: 0.8rem;
	align-items: center;
	justify-content: center;
	color: var(--lime-green);
}

.card .todayStatus span {
	margin-right: 2px;
}
