:root {
	--text-white-color: hsl(0, 0%, 100%);
	--whiteTheme-blue-text-color: hsl(230, 17%, 14%);
}

.cardOverviewContainer {
	margin-top: 35px;
}

.cardOverviewContainer h2 {
	transition: 0.7s;
	margin-bottom: 15px;
	color: var(--text-white-color);
}

.cardOverviewContainer h2[data-theme='light'] {
	color: var(--whiteTheme-blue-text-color);
}

.cardsOverview {
	gap: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 890px) {
	.cardsOverview {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 450px) {
	.cardsOverview {
		grid-template-columns: repeat(1, 1fr);
	}
}
