:root {
	/* Dark Theme */
	--text-white-color: hsl(0, 0%, 100%);
	--text-gray-color: hsl(228, 34%, 66%);

	/* Light Theme */
	--whiteTheme-text-color: hsl(228, 12%, 44%);
	--whiteTheme-blue-text-color: hsl(230, 17%, 14%);
}

.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: var(--text-white-color);
}

.textDiv p {
	font-weight: 700;
	transition: 0.7s;
	color: var(--text-gray-color);
}

.textDiv h1 {
	transition: 0.7s;
}

.textDiv[data-theme='light'] p {
	color: var(--whiteTheme-text-color);
}

.textDiv[data-theme='light'] h1 {
	color: var(--whiteTheme-blue-text-color);
}
