:root {
	/* Dark Theme */
	--card-bg: hsl(228, 28%, 20%);
	--text-white-color: hsl(0, 0%, 100%);

	/* Light Theme */
	--white-bg: hsl(0, 0%, 100%);
	--whiteTheme-text-color: hsl(228, 12%, 44%);
}

.buttonDiv {
	gap: 10px;
	display: flex;
	font-weight: 700;
	align-items: center;
	color: var(--text-white-color);
}

.buttonDiv p {
	transition: 0.7s;
}

.buttonDiv p[data-theme='light'] {
	color: var(--whiteTheme-text-color);
}

.buttonDiv .button {
	width: 50px;
	height: 25px;
	display: flex;
	cursor: pointer;
	position: relative;
	border-radius: 30px;
	align-items: center;
	justify-content: flex-start;
	background: linear-gradient(
		90deg,
		rgba(55, 143, 230, 1) 5%,
		rgba(62, 218, 130, 1) 95%
	);
}

.buttonDiv .button::after {
	content: '';
	width: 15px;
	height: 15px;
	border-radius: 50%;
	position: absolute;
	background-color: var(--card-bg);
}

.buttonDiv .button[data-theme='dark']::after {
	left: 5px;
}

.buttonDiv .button[data-theme='light']::after {
	right: 5px;
	background-color: var(--white-bg);
}
