:root {
	/* Dark Theme */
	--card-bg: hsl(228, 28%, 20%);
	--text-white-color: hsl(0, 0%, 100%);
	--text-gray-color: hsl(228, 34%, 66%);

	/* Light Theme */
	--white-card-bg: hsl(227, 47%, 96%);
	--white-card-hover: hsl(227, 10%, 82%);
	--whiteTheme-text-color: hsl(228, 12%, 44%);
	--whiteTheme-blue-text-color: hsl(230, 17%, 14%);
}

.cardOverview {
	height: 120px;
	display: flex;
	transition: 0.7s;
	border-radius: 5px;
	padding: 15px 25px;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--card-bg);
}

.cardOverview[data-theme='light'] {
	background-color: var(--white-card-bg);
}

.cardOverview:hover {
	cursor: pointer;
	background-color: hsl(229, 25%, 26%);
}

.cardOverview[data-theme='light']:hover {
	background-color: var(--white-card-hover);
}

.cardOverview .socialMediaDiv {
	display: flex;
	font-weight: 700;
	font-size: 0.8rem;
	align-items: center;
	color: var(--text-gray-color);
	justify-content: space-between;
}

.cardOverview .socialMediaDiv p {
	transition: 0.7s;
}

.cardOverview[data-theme='light'] .socialMediaDiv {
	color: var(--whiteTheme-text-color);
}

.cardOverview .statusDiv {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.cardOverview .statusDiv h3 {
	transition: 0.7s;
	font-size: 1.7rem;
	color: var(--text-white-color);
}

.cardOverview[data-theme='light'] .statusDiv h3 {
	color: var(--whiteTheme-blue-text-color);
}

.cardOverview .statusDiv .percentageDiv {
	gap: 5px;
	display: flex;
	font-weight: 700;
	align-items: center;
}
