:root {
	/* Primary */
	--lime-green: hsl(163, 72%, 41%);
	--bright-red: hsl(356, 69%, 56%);
	--twitter-color: hsl(203, 89%, 53%);
	--youtube-color: hsl(348, 97%, 39%);
	--facebook-color: hsl(208, 92%, 53%);

	/* Dark Theme */
	--card-bg: hsl(228, 28%, 20%);
	--dark-blue-bg: hsl(230, 17%, 14%);
	--text-white-color: hsl(0, 0%, 100%);
	--dark-blue-topBg: hsl(232, 19%, 15%);
	--text-gray-color: hsl(228, 34%, 66%);

	/* Light Theme */
	--white-bg: hsl(0, 0%, 100%);
	--white-topBg: hsl(225, 100%, 98%);
	--white-card-bg: hsl(227, 47%, 96%);
	--whiteTheme-text-color: hsl(228, 12%, 44%);
	--whiteTheme-blue-text-color: hsl(230, 17%, 14%);
}

.cardOverview {
	width: 250px;
	height: 120px;
	display: flex;
	border-radius: 5px;
	padding: 15px 25px;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--card-bg);
}

.cardOverview .socialMediaDiv {
	display: flex;
	font-weight: 700;
	font-size: 0.8rem;
	align-items: center;
	color: var(--text-gray-color);
	justify-content: space-between;
}

.cardOverview .statusDiv {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.cardOverview .statusDiv h3 {
	font-size: 1.7rem;
	color: var(--text-white-color);
}

.cardOverview .statusDiv .percentageDiv {
	gap: 5px;
	display: flex;
	font-weight: 700;
	align-items: center;
	color: var(--lime-green);
}

.cardOverview .statusDiv .percentageDiv img {
	width: 10px;
	height: 5px;
}
