@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
	/* Dark Theme */
	--dark-blue-bg: hsl(230, 17%, 14%);
	--dark-blue-topBg: hsl(232, 19%, 15%);

	/* Light Theme */
	--white-bg: hsl(0, 0%, 100%);
	--white-topBg: hsl(225, 100%, 98%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Inter', sans-serif;
}

body {
	width: 100vw;
	height: 100vh;
}

.App {
	width: 100vw;
	height: 100vh;
	display: flex;
	transition: 0.7s;
	overflow: scroll;
	overflow-x: hidden;
	position: relative;
	align-items: center;
	justify-content: center;
	background-color: var(--dark-blue-bg);
}

.App[data-theme='light'] {
	background-color: var(--white-bg);
}

.topBg {
	top: 0;
	left: 0;
	height: 30%;
	width: 100%;
	transition: 0.7s;
	position: absolute;
	background-color: var(--dark-blue-topBg);
}

.topBg[data-theme='light'] {
	background-color: var(--white-topBg) !important;
}

@media (max-width: 890px) {
	.App {
		height: max-content;
	}
}
